[Desktop Entry]
Type=Application
Name=Wi-Fi Hotspot
Comment=Share your Wi-Fi connection while staying connected to it
Exec=/usr/local/bin/wifi-hotspot-gui
Icon=wifi-hotspot
Terminal=false
Categories=Network;
Keywords=hotspot;wifi-hotspot;wifi;tethering;ap;wireless;
StartupWMClass=local.sudar.Hotspot
